html body{
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    background-color: #F4C34B;
    text-align: center;
}

.header{
    top:0;
    position: sticky;
    background-color: white;
    grid-area: header;
}

li {
    list-style: none;
    display: inline-block;
}

.early-life{
    grid-area: early-life;
}

.collegiate-career {
    grid-area: collegiate-career;
}

.nba-career {
    grid-area: nba-career;
}

.life-after-retirement {
    grid-area: life-after-retirement;
}

.more {
    grid-area: more;
}

.section {
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    margin: 1%;
}

footer {
    grid-area: footer;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 175px);
    grid-template-areas:
    "header header header"
    "early-life early-life early-life"
    "collegiate-career collegiate-career collegiate-career"
    "nba-career nba-career nba-career"
    "life-after-retirement life-after-retirement life-after-retirement"
    "more more more"
    "footer footer footer";
}
